.wrapper {
	display: grid;
	grid-template-areas: "logo profile"
		"input input";
	grid-template-columns: 175px minmax(147px, 553px);
	grid-template-rows: 65px 39px;
	align-self: center;
	margin: 0 auto;
	padding: 0 20px;
	border-bottom: 1px solid #e5e6e9;
	color: var(--RegentGray);
	font-size: var(--font-size_text_m);
	font-style: normal;
	font-weight: var(--font-weigth_text_m);
	line-height: var(--line-height_link_m);
}

header::after {
	content: " ";
	position: absolute;
	top: 66px;
	width: 100%;
	height: 1px;
	background-color: var(--AthensGray);

}

.logo {
	grid-area: logo;
	justify-content: start;
	width: 175px;
	height: 30px;
	margin: auto;
	margin-left: 0;
}

.input {
	grid-area: input;
	margin: 0;
}

.profile {
	grid-area: profile;
	min-width: 147px;
	margin: auto;
	margin-right: 0;
}

.button {
	display: none;
}

.wrapper-with-menu {
	grid-template-areas: "logo profile menu"
		"input input input";
	grid-template-columns: 175px minmax(100px, 553px) 40px;
}


.profile-with-menu {
	min-width: 80px;
	margin-right: 20px;
}

.profile_name-with-menu {
	display: none;
}

.button-with-menu {
	display: flex;
	grid-area: menu;
	margin-right: 0;
}

@media (width >=768px) {
	.wrapper {
		grid-template-areas: "logo input profile";
		grid-template-columns: 175px minmax(373px, 918px) minmax(147px, auto);
		grid-template-rows: 65px;
		border-bottom: none;
	}

	.logo,
	.input,
	.profile {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		height: 100%;
	}

	.profile {
		border-left: 1px solid var(--AthensGray);
	}

	.logo {
		border-right: 1px solid var(--AthensGray);
	}

	.wrapper-with-menu {
		grid-template-areas: "logo input profile menu";
		grid-template-columns:
			175px minmax(347px, 918px) minmax(167px, auto) 39px;
	}

	.profile-with-menu {
		min-width: 147px;
	}

	.profile_name-with-menu {
		display: inline-block;
	}

}

@media (width >=1280px) {
	.wrapper {
		grid-template-areas: "logo input profile";
		grid-template-columns: 175px minmax(873px, 918px) minmax(147px, auto);
		width: 1280px;
	}

	.profile {
		min-width: 147px;
	}

	.profile-with-menu {
		margin-right: 0;
	}

	.button {
		display: none;
	}
}