.wrapper {
	display: grid;
	grid-template-areas: "logo profile"
		"input input";
	grid-template-columns: 175px minmax(147px, 553px);
	grid-template-rows: 65px 39px;
	align-self: center;
	margin: 0 auto;
	padding: 0 20px;
	border-bottom: 1px solid #e5e6e9;
	color: var(--RegentGray);
	font-size: var(--font-size_text_m);
	font-style: normal;
	font-weight: var(--font-weigth_text_m);
	line-height: var(--line-height_link_m);
}

header::after {
	content: " ";
	position: absolute;
	top: 66px;
	width: 100%;
	height: 1px;
	background-color: var(--AthensGray);

}

.logo {
	grid-area: logo;
	justify-content: start;
	width: 175px;
	height: 30px;
	margin: auto;
	margin-left: 0;
}

.input {
	grid-area: input;
	margin: 0;
}

.profile {
	grid-area: profile;
	margin: auto;
	margin-right: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-end;
	min-width: 147px;
}

.profile_name {
	max-width: 100px;
	padding-right: 10px;
	overflow: hidden;
	color: #8591a5;
	color: var(--RegentGray);
	font-size: var(--font-size_text_m);
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: text;
}

.profile_photo {
	width: 40px;
	min-width: 40px;
	max-width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #c8daea;
	background-position: center;
}

.button {
	display: none;
}

.wrapperWithMenu {
	grid-template-areas: "logo profile menu"
		"input input input";
	grid-template-columns: 175px minmax(135px, 553px) 40px;
}


.profileWithMenu {
	min-width: 80px;
	margin-right: 20px;
}

.profile_nameWithMenu {
	display: none;
}

.buttonWithMenu {
	display: flex;
	grid-area: menu;
	margin-right: 0;
}

@media (width >=768px) {
	.wrapper {
		grid-template-areas: "logo input profile";
		grid-template-columns: 175px minmax(373px, 918px) minmax(147px, auto);
		grid-template-rows: 65px;
		border-bottom: none;
	}

	.logo,
	.input,
	.profile {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		height: 100%;
	}

	.profile {
		border-left: 1px solid var(--AthensGray);
	}

	.logo {
		border-right: 1px solid var(--AthensGray);
	}

	.wrapperWithMenu {
		grid-template-areas: "logo input profile menu";
		grid-template-columns:
			175px minmax(347px, 918px) minmax(167px, auto) 39px;
	}

	.profileWithMenu {
		min-width: 147px;
	}

	.profile_nameWithMenu {
		display: inline-block;
	}

}

@media (width >=1280px) {
	.wrapper {
		grid-template-areas: "logo input profile";
		grid-template-columns: 175px minmax(873px, 918px) minmax(147px, auto);
		width: 1280px;
	}

	.profile {
		min-width: 147px;
	}

	.profileWithMenu {
		margin-right: 0;
	}

	.button {
		display: none;
	}
}