.wrapper {
	display: none;
	position: fixed;
	z-index: 12;
	top: 0;
	right: 0;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
	width: 375px;
	height: 480px;
	background-color: #fff;
}

.modal {
	display: none;
	position: fixed;
	z-index: 11;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgb(0 0 0 / 80%), rgb(0 0 0 / 80%));
}

.active {
	display: block;
}

.title {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	width: auto;
	height: 66px;
	padding: 0 20px;
	border-bottom: 1px solid #e5e6e9;
}

.close {
	width: 13px;
	height: 13px;
	margin: auto 0;
}

.nav {
	padding: 20px;
	gap: 20px;
}

.nav li,
.nav ul {
	margin-top: 0;
	margin-bottom: 20px;
	padding: 0;
	padding-inline-start: 0;
	list-style-type: none;
	line-height: 19px;
	text-decoration: none;
}

.nav a {
	color: #2e3640;
	text-decoration: none;
}

.nav a:hover {
	color: #4c8bf7;
	font-weight: 700;
}

.logo {
	display: block;
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 155px;
	height: 30px;
}

.logo svg {
	fill: #c6c7c9;
}


@media (width >=1280px) {
	.active {
		display: none;
	}

	.wrapper {
		display: block;
		position: static;
		z-index: 1;
		width: 293px;
		height: fit-content;
	}

	.title {
		display: none;
	}

	.nav {
		padding: 0;
		gap: 0;
		border: 1px solid #e5e6e9;
		border-bottom: none;
	}

	.nav ul {
		margin: -1px;
	}

	.nav li {
		width: 100%;
		height: 60px;
		margin-bottom: 0;
		padding: 19px 30px 21px;
		border-bottom: 1px solid #e5e6e9;
	}

	.logo {
		display: none;
	}
}