.button {
	width: fit-content;
	margin-right: 25px;
	padding: 0 5px 6px;
	color: #2e3640;
}

.button:last-child {
	margin-right: 0;
}

.selected {
	border-bottom: 3px solid #4c8bf7;
}

.wrapper {
	width: 100%;
	margin-bottom: 26px;
	border-bottom: 1px solid #4c8bf7;
}