.card p,
.card svg,
.card time {
	stroke: #8591a5;
	color: #8591a5;
}

.card a {
	text-decoration: none;
}

.newsThird p,
.newsThird h1,
.newsThird h2,
.newsThird h3,
.newsThird svg,
.newsThird time {
	stroke: white;
	fill: white;
	color: white;
}

.newsThird p,
.newsThird h2,
.newsThird h3,
.newsThird a {
	font-family: Roboto;
}

.newsThird p {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

.footer p,
.footer time {
	font-size: 13px;
	line-height: 130%;
	vertical-align: middle;
}

.elementHidden,
div .elementHidden {
	display: none;
}

.card {
	display: grid;
	position: relative;
	grid-template-areas: "image"
		"content"
		"footer";
	grid-template-rows: 139px 133px 17px;
	width: 100%;
	height: 369px;
	padding: 20px;
	overflow: hidden;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 2px 6px rgb(0 0 0 / 3%);
	gap: 20px;
}

.imageWrapper {
	margin: -20px;
}

.image {
	display: flex;
	grid-area: image;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	width: 100%;
	height: 159px;
	overflow: hidden;
}

.image img {
	width: 100%;
	min-height: 100%;
}

.content {
	display: flex;
	grid-area: content;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
	gap: 10px;
}

.content .textWrapper {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-line;
}

.footer {
	display: flex;
	grid-area: footer;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
}

.footer .footerText {
	display: none;
	position: relative;
	width: fit-content;
	margin: auto;
	margin-left: 6px;
	padding-left: 6px;
}

.footer .footerText::before {
	content: ' ';
	position: absolute;
	top: 50%;
	left: 0;
	flex-direction: row;
	width: 1px;
	height: 10px;
	transform: translateY(-50%);
	background-color: #e5e6e9;
}

.fourLinesText {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.threeLinesText {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.twoLinesText {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.oneLineText {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.newsThird {
	display: grid;
	position: relative;
	grid-template-areas:
		"."
		"content"
		"footer";
	grid-template-rows: 151px 121px 17px;
	background-color: transparent;
}

.newsThird .bottom {
	margin-right: 0;
}

.newsThird .selectButton {
	background: transparent;
}

.newsThird .selectButton svg {
	stroke: #fff;
}

.newsThird .selectButtonSelected svg {
	fill: #fff;
}

.newsThird .image {
	position: absolute;
	z-index: -2;
	min-width: 100%;
	height: 369px;
}

@media (width >=768px) {
	.newsThird {
		grid-column: span 2;
	}
	
	.newsThird .bottom {
		margin-top: 171px;
		margin-right: 170px;
	}

	.footer .footerText {
		display: inline-block;
	}

	.wideCard {
		position: static;
		grid-template-areas: "content image"
			"footer image";
		grid-template-columns: 1fr 27%;
		grid-template-rows: 129px 17px;
		height: 206px;
	}

	.wideCard .content {
		position: relative;
	}

	.wideCard .content .titleWrapper {
		margin-right: 44px;
	}

	.wideCard .content .selectButton {
		width: 24px;
		height: 24px;
		padding: 0;
		background: transparent;
	}

	.wideCardEven {
		grid-template-areas: "image content"
			"image footer";
		grid-template-columns: 27% 1fr;
	}

	.wideCard .image {
		grid-area: image;
		width: 100%;
		height: 206px;
	}

	.wideCard .imageWrapper {
		margin-left: 0;
	}

	.wideCardEven .imageWrapper {
		margin-right: 0;
		margin-left: -20px;
	}

	.wideCard .image img {
		min-width: 100%;
		max-width: none;
		min-height: 100%;
		max-height: none;
	}
}

@media (width >=1280px) {
	.wideCard {
		grid-template-columns: 1fr 29%;
	}

	.wideCardEven {
		grid-template-columns: 29% 1fr;
	}

	.wideCard .content .titleWrapper {
		width: 610px;
		margin-right: 0;
	}
}