.profile_wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-end;
	width: 100%;
}

.profile_name {
	max-width: 100px;
	padding-right: 10px;
	overflow: hidden;
	color: #8591a5;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: text;
}

.profile_photo {
	width: 40px;
	min-width: 40px;
	max-width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #c8daea;
	background-position: center;
}