.wrapper {
	width: 100%;
	min-width: 335px;
	margin-bottom: 35px;
}

.title {
	width: 100%;
	margin-bottom: 10px;
}

.title b {
	color: #4c8bf7;
}

.text {
	display: inline;
}


@media (width >= 768px) {
	.wrapper {
		width: 450px;
		margin-bottom: 45px;
	}

	.title {
		margin-bottom: 20px;
	}
}

@media (width >= 1280px) {
	.wrapper {
		margin-bottom: 65px;
	}
}