<div class="profile_wrapper">
	<button type="button" class="profile_name">Александра</button>
	<a href="/profile" class="profile_photo">
		<img src="/src/assets/images/_photo_example.png" alt="photo"/>
	</a>
</div>