<form class="search_form" method="GET" action="https://www.google.com">
	<button class="search_button">
	</button>
	<label class="search_input_label" for="q">search field</label>
	<input class="search_input" id="q" type="text" placeholder="Поиск">
</form>